{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{.locale.Tr "dashboard"}}{{else}}{{.locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{.locale.Tr "logo"}}"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>Daily updated datasets from OpenStreetMap.</h2>
			</div>
			<div>
				
			</div>
			<p>
			 
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="twelve wide left aligned centered column">
			<p class="large">
				Eu esse elit fugiat exercitation commodo id fugiat. Magna adipisicing laboris et nulla aliqua laborum deserunt laboris ut elit. In sint ipsum fugiat qui laboris minim exercitation velit id cupidatat fugiat cupidatat anim anim. Nulla incididunt cupidatat nisi elit laboris id consequat irure dolore dolor.
			</p>
			<p class="large">
				Deserunt in incididunt eu anim amet ullamco. Pariatur ipsum duis dolore sint occaecat laborum labore aute fugiat laborum ipsum eu non. Esse in et magna incididunt consequat duis amet nisi nisi exercitation ipsum sunt minim ad. Deserunt officia eiusmod ipsum irure tempor quis tempor ea. Ad labore deserunt ea esse anim adipisicing.
			</p>
			<p class="large">
				Nostrud reprehenderit dolor magna exercitation dolore mollit nisi laboris voluptate. Nostrud mollit in dolor duis velit. Do anim enim id et quis cillum fugiat est eiusmod aliqua elit cillum laborum.
			</p>
			<p class="large">
				Ea non culpa id tempor. Quis nulla consectetur proident excepteur officia amet occaecat proident id id ea cillum aliqua. Ut culpa reprehenderit culpa cillum duis non do labore veniam duis officia reprehenderit. Ad labore quis non sunt mollit cillum aliqua magna amet id culpa est est. Anim tempor ut irure fugiat duis anim velit anim dolore esse.
			</p>
			<p class="large">
				Consequat laborum anim exercitation ea Lorem est ea. Do dolor enim voluptate sunt voluptate. Nostrud aliquip reprehenderit laboris ipsum eiusmod id fugiat magna. Cupidatat labore cupidatat aute duis in reprehenderit aliquip cillum et culpa veniam aliqua. Aliquip laborum ad duis non. Eu non deserunt duis dolor voluptate laborum exercitation reprehenderit dolore.
			</p>
			<p class="large">
				Ex est sint anim proident. Tempor ea dolor sunt mollit veniam esse cupidatat aliquip laboris proident fugiat officia Lorem. Commodo ea mollit irure nisi esse incididunt consequat dolore. Cupidatat voluptate exercitation elit et cillum. Nostrud eiusmod adipisicing aliqua nisi fugiat aliqua sint culpa incididunt ex magna incididunt duis reprehenderit. Sunt dolor sint enim excepteur ea deserunt elit ea ut ipsum voluptate.
			</p>
			<p class="large">
				Est nisi consectetur esse ad pariatur esse Lorem consequat duis enim. Quis pariatur ut deserunt ipsum esse pariatur. Sint reprehenderit dolor magna aliquip pariatur. Dolore sint deserunt voluptate anim laborum voluptate sint labore occaecat ullamco esse in ea. Esse commodo sit esse velit dolor officia aliqua do elit. Fugiat mollit nisi ad sunt nulla eiusmod amet incididunt consequat aliqua mollit nostrud.
			</p>
			<p class="large">
				Minim exercitation exercitation voluptate dolor deserunt amet non sit sit. Ipsum fugiat magna sint ullamco non id pariatur Lorem commodo cupidatat. Tempor pariatur ea do commodo nostrud minim minim enim minim sunt commodo aliqua elit. Ad ut excepteur magna elit enim veniam exercitation officia occaecat fugiat non sunt aliqua. Proident ullamco ut esse deserunt quis aliqua deserunt. Esse consectetur deserunt commodo sit.
			</p>
			<p class="large">
				Sunt dolor mollit reprehenderit nostrud ad. Do labore amet velit nisi. Qui enim Lorem officia cillum aliqua proident enim. Lorem pariatur pariatur officia duis eiusmod in aute tempor eu id.
			</p>
			<p class="large">
				Mollit cillum sit commodo quis laborum aute cupidatat irure labore tempor. Ex irure et elit amet laboris ex tempor. Consequat enim exercitation dolor officia non incididunt aliquip aliquip labore aliquip do. Adipisicing aute occaecat adipisicing velit do. Id voluptate dolore deserunt magna irure consectetur est in deserunt deserunt est laboris magna culpa. Do labore magna dolor nostrud quis consectetur sint fugiat et id ut.
			</p>
		</div>
	</div>
</div>
