{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{.locale.Tr "dashboard"}}{{else}}{{.locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{.locale.Tr "logo"}}"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				
			</div>
			<div>
				
			</div>
			<p>
			 
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="twelve wide left aligned centered column">
			<h2>Daily updated datasets from OpenStreetMap</h2>
			<p class="large">
				OSM for Cities is a platform to provide easy access to city-level OpenStreetMap data. It is aimed to simplify retrieving and utilizing OSM data, enabling cities to make informed decisions and leveraged by the power of local mapping.
			</p>
			<p class="large">
				We have developed a tool that tracks daily-updated city-level OSM data in a git repository. This service processes daily diffs of predefined OSM presets, such as schools, hospitals, cycling infrastructure, etc. The processed data is then pushed to the git repository, making it readily available for direct access or integration into third-party applications.
			</p>
			<h2>Key features</h2>
			<p class="large">
				This platform ensures timeliness by updating data daily, reflecting the latest changes in OpenStreetMap. Additionally, a git server enables users to visualize the data's change history, providing insights into how files have evolved over time.
			</p>
			<p class="large">
				Coverage is another crucial aspect of OSM for Cities. Each city within in the platform can potentially offer 30+ datasets, allowing for a comprehensive understanding of various urban aspects. We aim to include data from all countries on our platform, making city-level OSM data accessible globally.
			</p>
			<p class="large">
				We have already added the first country: <a href="https://osmforcities.org/cities-of/brazil" target="_blank" referrerpolicy="no-referrer">Brazil</a>. With more than five thousand municipalities and ranking among the top 10 countries in number of OSM elements, Brazil showcases the potential of the platform. As we expand, the next challenge is to add more countries to OSM for Cities.
			</p>
			<h2>The data processing workflow</h2>
			<p class="large">
				The process begins by recursively slicing the Planet PBF file to the city level. City-level presets are then extracted and converted into GeoJSON format. These files are committed and pushed to a git repository. With a cloud-based infrastructure based on Kubernetes, the platform is scalable.
			</p>
			<p class="large">
				The datasets are available in GeoJSON format, enclosed within the city limits polygon, reducing the need for pre-processing. This ready-to-use approach saves time for anyone interested in using the data and make it easier to integrate of OSM data into workflows.
			</p>
			<h2>About this project</h2>
			<p class="large">
				The source code for this project is <a href="https://github.com/vgeorge/osm-for-cities" target="_blank" referrerpolicy="no-referrer">available at Github</a>. 
			</p>
			<p class="large">
				This is a labs project from Development Seed. We value feedback and are looking forward to work with partners to improve its usability and coverage. 
			</p>
			<p class="large">
				Please reach us at our <a href="https://developmentseed.org/contact" target="_blank" referrerpolicy="no-referrer">contact page</a>.
			</p>
		</div>
	</div>
</div>
